[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu126"
verify_ssl = true
name = "downloadpytorch"

[packages]
torch = {version = "*", index = "downloadpytorch"}
torchvision = {version = "*", index = "downloadpytorch"}
easyocr = "==1.7.2"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.10"
